@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkgreen;
}

h2{
    color: green;
}

/* ID não se repete, para isso temos as classes!*/
#principal{
    text-align: center;
    background-color: green;
    color: white;
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: rgba(186, 186, 22, 0.644);
}